html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  background-color: white;


}

main {
  flex: 1;
}



.recipe-card {
  flex: 1 1 300px; 
  margin: 15px; 
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.recipe-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.recipe-image {
  margin: 0 auto 15px auto;
  border-radius: 8px;
}

.recipe-ingredients {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.ingredient-item {
  font-size: 1rem;
  color: #555;
  padding: 5px 0;
}

.recipe-instructions {
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
  margin-top: 15px;
}
.input-s{
  width: 400px;
  height: 50px;
  background-color: #eee;
border-radius: 10px;
border-color: black;
display: flex;
align-items: center;

}
.in{
  width: 400px; 
  height: 50px;
  border: none;
  background-color: transparent;

}
.in:focus{
  outline:none;
  background-color: transparent;
}
#search-icon{
 color: blue;
}
.searchBar{
  justify-content: center;
  display: grid;
  padding-top:7vh;
}
.listre{
  list-style-type: none;  
   color: black;
   height: 150px;
   overflow-y: auto; 
   overflow-x: hidden; 
   border: 1px solid #ccc; 
   padding: 5px; 
   border: none;
   padding: 10px;
   margin-top: 5px;

}

.lilist{
  margin: 5px;
}
.lilist:hover{
  background-color: #f0f0f0;

}
.listtext{
  color: #333;
  text-decoration: none;
  font-size: 20px;
}